<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta charset="utf-8"/>
  <link href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
  <link href="/static/css/training.css" th:href="@{/css/training.css}" rel="stylesheet"/>
  <title>商品一覧</title>
</head>
<body>
<div class="container" py-3>
  <div class="row">
    <div class="col-6 mx-auto">
      <H3 th:text="${displayDate} + 時点の商品一覧">商品一覧</H3>
    </div>
    <table>
      <thead>
        <tr>
          <th>商品名</th>
        </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${items}">
         <td>
           <p th:text="${item.name}"></p>
         </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-6 mx-auto">
      <a th:href="@{/}">TOPへ</a>
    </div>
  </div>
</div>
</body>
</html>